---
const { translations, lang } = Astro.props;
---

<div 
  id="cookie-banner"
  class="fixed bottom-4 inset-x-4 sm:inset-x-8 md:inset-x-16 
         lg:left-1/2 lg:-translate-x-1/2 
         w-[calc(100%-2rem)] sm:w-[calc(100%-4rem)] md:w-[calc(100%-8rem)] lg:w-[95%] max-w-2xl 
         bg-white/20 backdrop-blur-md rounded-2xl shadow-lg p-4 
         flex flex-col lg:flex-row justify-between items-center gap-4 
         text-sm text-white z-50 hidden"
  data-accepted-text={translations.cookies.accepted}
  data-declined-text={translations.cookies.declined}
>
  <span class="text-center lg:text-left">
    {translations.cookies.bannerText} 
    <a href={`/${lang}${translations.cookies.learnMoreLink}`} class="underline">
      {translations.cookies.learnMore}
    </a>.
  </span>
  <div class="flex gap-2 w-full sm:w-auto md:grid md:grid-cols-2 md:gap-3 lg:flex lg:w-auto">
    <button id="accept-cookies" class="btn-primary w-full md:w-auto">
        {translations.cookies.accept}
    </button>
    <button id="decline-cookies" class="btn-secondary w-full md:w-auto">
        {translations.cookies.decline}
    </button>
  </div>
</div>