---
export const prerender = false;

import Layout from '@/layouts/Layout.astro';
import SelectedProjects from '@/components/SelectedProjects.astro';
import { getTranslations } from '@/utils/getTranslations';
import { supabase } from '@/lib/supabaseClient';

const lang = Astro.params?.lang || 'en';
const translations = await getTranslations(lang);

// Отримуємо опубліковані проєкти під час білді
const { data: projects, error } = await supabase
    .from("projects")
    .select("*")
    .eq("is_published", true)
    .order("created_at", { ascending: false });

if (error) {
    console.error("Error fetching projects:", error);
}

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'uk' } },
  ];
}

console.log("Supabase response:", { projects, error });
---

<Layout translations={translations}>
  <head>
    <title>{translations.navigation.portfolio}</title>
  </head>
  <h1 class="sr-only">{translations.navigation.portfolio}</h1>
  <SelectedProjects translations={translations} lang={lang} projects={projects} />
</Layout>